{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "UI": "./UI",
          "Server": "./Server"
        }
      }
    ],
    "@babel/plugin-proposal-optional-chaining"
  ],
  "env": {
    "server": {
      "presets": [["@babel/preset-env", { "targets": { "node": "12" } }]]
    }
  }
}
